*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
/app/keystore/
*.jks
*.keystore
*.apk
*.apks
*.zip
*.jar
!gradle/wrapper/gradle-wrapper.jar
